@mixin button-styles($bg-color, $border-color) {
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    cursor: pointer;

    &:hover {
        background-color: $bg-color;
    }
}

.btn-primary {
    @include button-styles($secondary-color, $light-color);
}