.barra {
    background-color: $primary-color;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    img{
        width: 20%;
        height: auto;
        max-width: 20%;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.navegacion {
    box-sizing: border-box;
    height: 100%;
}

.lista-nav {
    display: flex;
    list-style: none;
    color: black;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;

    a {
        font-size: large;
        color: black;
        text-decoration: none;

        &:hover {
            color: $secondary-color;
        }
    }
}